body{
    padding: 0;
    margin: 0;
    background-image: url(../img/background.jpg);
    image-resolution: from-image;
}

.navbar-expand-lg .navbar-collapse{
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 40px;
    color: white;
    font-style: italic;
    
    
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: rgba(159, 14, 14, 0.9);
}
   .bg-light {
    background-image: url(../img/background.jpg); 
}
.fond-banniere{
    background-color: black;
   
}
.banniere {
    background-image: url(../img/banniere.jpg);
    
    max-height: 80vh;
    background-repeat: no-repeat;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
    margin-bottom: 50px;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.slogan{
    
    background-color:#0009 ;
    width: 50%;
    height:740px;
    color: white;
    padding-top: 17%;
    padding-left: 30px;
    margin-left: 0px;
    font-family: 'Great Vibes', cursive;
    font-size: 60px;
       
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
}
control-prev-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.carousel-control-next-icon {
    background-color: darkred;
   
}
.carousel-control-prev-icon {
    background-color: darkred;

}

.img-fluid{
     
     max-width: 100%;
     height: auto;
}
footer {
    
    margin-top: 50px;
}

.formulairecontact{
   
    display: block;
    padding-top: 170px;
    padding-bottom: 170px;
    text-align: center;
    min-height: 340px;
    height: 640;
    margin-top: 50px;
}


.btn-primary.focus, .btn-primary{
    
    color: white;
    background-color: gray;
}
.btn-primary:focus {
    box-shadow: 
}
.btn-primary {
    color: #fff;
    background-color: red;
    border-color: white;
}
input{
    margin-bottom: 20px;
   
}
input[type=text]{
    height: 40px;
    width:250px;
    
}
input[type=email]{
    height:40px;
    width:250px;
    
}
textarea{
    width:500px;
    resize: vertical;
    height: 300px;
}

h6 {
    text-align: center;
    color: white;
    
}

a {
    color: white;
}

